.max-w-3xl.mx-auto.px-4.sm:px-6.lg:max-w-7xl.lg:px-8
  %h1.sr-only Profile
  / Main 3 column grid
  .grid.grid-cols-1.gap-4.items-start.lg:grid-cols-3.lg:gap-8
    / Left column
    .grid.grid-cols-1.gap-4.lg:col-span-2
      / Welcome panel
      -if user_signed_in?
        %section{"aria-labelledby" => "profile-overview-title"}
          .rounded-lg.bg-white.overflow-hidden.shadow
            %h2#profile-overview-title.sr-only Profile Overview
            .bg-white.p-6
              .sm:flex.sm:items-center.sm:justify-between
                .sm:flex.sm:space-x-5
                  .flex-shrink-0
                    .inline-block.relative
                      = image_tag(current_user.avatar, class: 'h-16 w-16 rounded-full')
                      .span.absolute.bottom-0.right-0.block.h-4.w-4.rounded-full.ring-2.ring-white.bg-green-400
                  .mt-4.text-center.sm:mt-0.sm:pt-1.sm:text-left
                    %p.text-sm.font-medium.text-gray-600 Welcome back,
                    %p.text-xl.font-bold.text-gray-900.sm:text-2xl= current_user.name
                    %p.text-sm.font-medium.text-gray-600 Software Engineer
                .mt-5.flex.justify-center.sm:mt-0.gap-2
                  - if can? :create, Post
                    = link_to 'Create Post', new_post_path, class: 'flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-red-700 hover:bg-gray-50 hover:text-red-700'
                  = link_to 'View Profile', edit_user_registration_path	, class: 'flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-red-700 hover:bg-gray-50 hover:text-red-700'
            -# .border-t.border-gray-200.bg-gray-50.grid.grid-cols-1.divide-y.divide-gray-200.sm:grid-cols-3.sm:divide-y-0.sm:divide-x
            -#   .px-6.py-5.text-sm.font-medium.text-center
            -#     %span.text-gray-900 12
            -#     %span.text-gray-600 Vacation days left
            -#   .px-6.py-5.text-sm.font-medium.text-center
            -#     %span.text-gray-900 4
            -#     %span.text-gray-600 Sick days left
            -#   .px-6.py-5.text-sm.font-medium.text-center
            -#     %span.text-gray-900 2
            -#     %span.text-gray-600 Personal days left
      / Actions panel
      .bg-white.rounded-lg.shadow.p-8.overflow-y-scroll{class: "h-[840px]"}
        .relative.divide-y-2.divide-gray-200
          %div
            %h2.text-3xl.tracking-tight.font-bold.text-gray-900.sm:text-4xl.sm:tracking-tight Posts
            %p.mt-3.text-xl.text-gray-500.sm:mt-4 Nullam risus blandit ac aliquam justo ipsum. Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.
          .mt-12.divide-y-2.divide-gray-200
            - if @posts.empty?
              = render 'shared/empty_section', resource: Post, link: new_post_path, message: { title: 'No posts yet', body: 'Create a post to start', button: 'Create Post' }
            - else
              - @posts.each do |post|
                = link_to post_path(post) do
                  %div.py-8.px-4.cursor-pointer.hover:bg-gray-100
                    %div
                      %div.inline-block
                        %span.inline-flex.items-center.px-3.rounded-full.text-sm.font-medium.bg-indigo-100.text-indigo-800{:class => "py-0.5"} Article
                    %div.block.mt-4
                      %p.text-xl.font-semibold.text-gray-900= post.title
                      %p.mt-3.text-base.text-gray-500= post.excerpt
                    .mt-6.flex.items-center
                      .flex-shrink-0
                        %div
                          %span.sr-only= post.author.name
                          = image_tag post.author.avatar, class: 'h-10 w-10 rounded-full'
                      .ml-3
                        %p.text-sm.font-medium.text-gray-900
                          %div= post.author.name
                        .flex.space-x-1.text-sm.text-gray-500
                          %time{:datetime => "2020-03-16"}= post.created_at.to_date.to_formatted_s(:long)
                          %span{"aria-hidden" => "true"} ·
                          %span= pluralize(post.reading_time, 'minute')

            = paginate @posts

    / Right column
    .grid.grid-cols-1.gap-4
      / Announcements
      %section{"aria-labelledby" => "announcements-title"}
        .rounded-lg.bg-white.overflow-hidden.shadow
          .p-6
            %h2#announcements-title.text-base.font-medium.text-gray-900 Announcements
            .flow-root.mt-6
              %ul.-my-5.divide-y.divide-gray-200{:role => "list"}
                %li.py-5
                  .relative.focus-within:ring-2.focus-within:ring-cyan-500
                    %h3.text-sm.font-semibold.text-gray-800
                      %a.hover:underline.focus:outline-none{:href => "#"}
                        / Extend touch target to entire panel
                        %span.absolute.inset-0{"aria-hidden" => "true"}
                        Office closed on July 2nd
                    %p.mt-1.text-sm.text-gray-600.line-clamp-2 Cum qui rem deleniti. Suscipit in dolor veritatis sequi aut. Vero ut earum quis deleniti. Ut a sunt eum cum ut repudiandae possimus. Nihil ex tempora neque cum consectetur dolores.
            .mt-6
              %a.w-full.flex.justify-center.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded-md.text-gray-700.bg-white.hover:bg-gray-50{:href => "#"} View all
      / Recent Hires
      %section{"aria-labelledby" => "recent-signups-title"}
        .rounded-lg.bg-white.overflow-hidden.shadow
          .p-6
            %h2#recent-hires-title.text-base.font-medium.text-gray-900 Recent Signups
            .flow-root.mt-6
              %ul.-my-5.divide-y.divide-gray-200{:role => "list"}
              - @recent_users.each do |user|
                %li.py-4.list-none
                  .flex.items-center.space-x-4
                    .flex-shrink-0
                      %img.h-8.w-8.rounded-full{:alt => "", :src => "https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/
                    .flex-1.min-w-0
                      %p.text-sm.font-medium.text-gray-900.truncate= user.name
