.max-w-3xl.mx-auto.px-4.sm:px-6.lg:max-w-7xl.lg:px-8
  %section
    .rounded-lg.bg-white.overflow-hidden.shadow.p-6
      %h1.text-center Create Post

      = form_with(model: @post, class: 'form') do |f|
        .w-full
          = f.label :title, class: 'label'
          = f.text_field :title, class: 'input', placeholder: 'Title'
        .w-full
          = f.label :excerpt, class: 'label'
          = f.text_field :excerpt, class: 'input', placeholder: 'excerpt'
        .w-full
          = f.label :image, class:'label'
          = f.file_field :image, class: 'input'
        .w-full
          = f.label :body, class:'label'
          = f.rich_text_area :body, class: 'input', placeholder: 'Body'
        .w-full
          = f.submit 'Create Post', class: 'btn btn-primary'
