%header.bg-red-700
  %nav.max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8{"aria-label" => "Top"}
    .w-full.py-4.flex.items-center.justify-between.border-b.border-black.lg:border-none
      .flex.items-center
        = link_to root_path do
          %span.sr-only Workflow
          %img.h-10.w-auto{:alt => "", :src => "https://tailwindui.com/img/logos/workflow-mark.svg?color=white"}/
        .hidden.ml-10.space-x-8.lg:block
          = link_to 'Home', root_path, class: 'text-base font-medium text-white hover:text-indigo-50'
          = link_to 'Blog', posts_path, class: 'text-base font-medium text-white hover:text-indigo-50'
          = link_to 'About', root_path, class: 'text-base font-medium text-white hover:text-indigo-50'
      - if user_signed_in?
        .ml-10.space-x-4
          = button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'inline-block bg-gray-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75'
      - else
        .ml-10.space-x-4
          = link_to 'Sign in', new_user_session_path, class: 'inline-block bg-gray-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75'
          = link_to 'Sign up', new_user_registration_path, class: 'inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-red-700 hover:bg-indigo-50'
    .py-4.flex.flex-wrap.justify-center.space-x-6.lg:hidden
      = link_to 'Home', root_path, class: 'text-base font-medium text-white hover:text-indigo-50'
      = link_to 'Blog', root_path, class: 'text-base font-medium text-white hover:text-indigo-50'
      = link_to 'About', root_path, class: 'text-base font-medium text-white hover:text-indigo-50'
