.relative.bg-gray-50.pt-16.pb-20.px-4.sm:px-6.lg:pt-24.lg:pb-28.lg:px-8.container
  .text-center
    %h2.text-3xl.tracking-tight.font-bold.text-gray-900.sm:text-4xl.sm:tracking-tight From the blog
    %p.mt-3.max-w-2xl.mx-auto.text-xl.text-gray-500.sm:mt-4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.
  .mt-12.max-w-lg.mx-auto.grid.gap-5.lg:grid-cols-3.lg:max-w-none
    - if @posts.empty?
      .text-center
        %svg.mx-auto.h-12.w-12.text-gray-400{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
          %path{:d => "M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", "vector-effect" => "non-scaling-stroke"}
        %h3.mt-2.text-sm.font-medium.text-gray-900 No posts
        %p.mt-1.text-sm.text-gray-500 Get started by creating a new post.
        .mt-6
        -if can? :create, @post
          = link_to new_post_path do
            %button.btn{type: "button"}
              / Heroicon name: solid/plus
              %svg.-ml-1.mr-2.h-5.w-5{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                %path{"clip-rule" => "evenodd", :d => "M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z", "fill-rule" => "evenodd"}
              New Post
    - else
      - @posts.each do |post|
        .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
          = link_to post_path(post) do
            .flex-shrink-0
              =image_tag(post.image.variant(resize: '200x200'))
            .flex-1.bg-white.p-6.flex.flex-col.justify-between
              .flex-1
                %p.text-sm.font-medium.text-indigo-600
                  %a.hover:underline{:href => "#"} Post
                %a.block.mt-2{:href => "#"}
                  %p.text-xl.font-semibold.text-gray-900= post.title
                  %p.mt-3.text-base.text-gray-500= post.excerpt
              .mt-6.flex.items-center
                .flex-shrink-0
                  %a{:href => "#"}
                    %span.sr-only= post.author.name
                    %img.h-10.w-10.rounded-full{:alt => "", :src => "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/
                .ml-3
                  %p.text-sm.font-medium.text-gray-900
                    %a.hover:underline{:href => "#"}= post.author.name
                  .flex.space-x-1.text-sm.text-gray-500
                    %time{:datetime => "2020-03-16"}= post.created_at.to_date.to_formatted_s(:long)
                    %span{"aria-hidden" => "true"} ·
                    %span= pluralize(post.reading_time, 'minute')
