= paginator.render do
  %nav.pagination.relative.z-0.inline-flex.rounded-md.-space-x-px.items-center
    = first_page_tag
    = prev_page_tag
    - each_page do |page|
      - if page.display_tag?
        = page_tag page
      - elsif !page.was_truncated?
        = gap_tag
    = next_page_tag unless current_page.last?
    = last_page_tag unless current_page.last?
