!!!
%html.h-full
  %head
    %title Ivan Garcia's Portfolio & Blog
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_javascript_tag 'application'
    = vite_client_tag
    = vite_javascript_tag 'application'
    /
      If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  %body.h-full
    = render 'shared/header'
    - if notice
      = render 'shared/alert', type: :success, message: notice
    - if alert
      = render 'shared/alert', type: :error, message: alert
    %main{class: 'h-[calc(100%-74px)]'}= yield
    = render 'shared/footer'