!!!
%html.h-full
  %head
    %title Ivan Garcia's Portfolio - Blog
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_javascript_tag 'application'
    = vite_client_tag
    = vite_javascript_tag 'application'
  %body.h-full
    .min-h-full
      = render 'shared/blog/header'
      - if notice
        = render 'shared/alert', type: :success, message: notice
      - if alert
        = render 'shared/alert', type: :error, message: alert
      %main.-mt-24.pb-8
        = yield